@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600&family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: Poppins, sans-serif;
}

p {
  margin: 0 !important;
}

.sm-text {
  font-size: 12px;
}

.md-text {
  font-size: 14px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cursorPointer {
  cursor: pointer;
}

.focus-none {
  outline: none !important;
  box-shadow: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

.title-color {
  color: #016a70 !important;
}

.ql-editor {
  resize: vertical;
  min-height: 200px;
}

.bg-expired {
  position: relative;
  filter: grayscale(100%) !important;
}

.blink_me {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.bg-notification{
  background-color: #fffbe6;
}

.padding-null li{
  padding: 0 !important;
}

.hover-null{
  background-color: white;
}