@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: Poppins, sans-serif;
}

.sm-text {
    font-size: 12px;
}

.md-text {
    font-size: 14px;
}


.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.cursorPointer {
    cursor: pointer;
}

